    <% include footer %>

    <script src="/vendors/jquery/jquery.min.js"></script>
    <script src="/vendors/bootstrap/js/bootstrap.min.js"></script>
    <script src="/resources/js/leagues-menu.js"></script>

</body>
</html>
