<% include ./partials/top %>

<div class="container-fluid">
    
    <h1 class="text-center">
        <%= league.caption %> - <%= league.year %>
    </h1>
    <input id="competitionId" type="hidden" value="<%= league.id %>">
    <hr>

    <div class="league-table col-md-6">
        <% include ./partials/league-table-handlebars %>
    </div>

</div>

<%- include('./partials/bottom', { loadChartScripts: true }) %>
