<% include ../partials/top %>

    <div class="main container-fluid">
        <div class="main-content">
            <h1 class="text-center">404 - Not Found</h1>
        </div>
    </div>

    
<% include ../partials/bottom %>